#include <windows.h>

// ---App Icon---
IDI_ICON1 ICON "media/sudokrazy-icon.ico"

// --- Version Info ---
VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,0
 PRODUCTVERSION 1,0,0,0
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS VOS__WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"   // Language = U.S. English, Unicode
        BEGIN
            VALUE "CompanyName", "Rodeo Ghost"
            VALUE "FileDescription", "Sudoku with a twist"
            VALUE "FileVersion", "1.0.0.0"
            VALUE "InternalName", "sudokrazy.exe"
            VALUE "OriginalFilename", "sudokrazy.exe"
            VALUE "ProductName", "Sudokrazy"
            VALUE "ProductVersion", "1.0.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END